<div class="header">
  <h3 class="text-muted">TaxiHome</h3>
</div>

<table class="table table-stripped table-bordered">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Pickup address</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Taxi id</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="booking in bookings">
        <td>{{booking.name}}</td>
        <td>{{booking.pickup_address}}</td>
        <td>{{booking.phone}}</td>
        <td>{{booking.status}}</td>
        <td>{{booking.taxi_id}}</td>
    </tr>
    </tbody>
</table>